<footer>
    <div class="container">
        <div class="row">

            <div class="col33">
                <div class="foo-content">
                    <ul class="foo-list">
                        <li>СТО J-SERVICE</li>
                        <li>Ремонт и техобслуживание легковых авто и микроавтобусов в центре Минска.</li>
                        <li>СТО Минск J-SERVICE работает и в субботу и в воскресенье.</li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="col33">

                <div class="foo-content">
                    <ul class="foo-list">
                        <li class="location-icon">
                            <p>пл. Октябрьская 1</p>
                            <p>г. Минск </p>
                            <p>Республика Беларусь</p>
                        </li>
                        <li class="phone-icon">
                            <p><a class="contact-text" title="Позвонить" href="tel:+375 44 00 00 100">+375(44)
                                    10-10-100</a></p>
                            <p><a class="contact-text" title="Позвонить" href="tel:+375 29 00 00 100">+375(29)
                                    10-10-100</a></p>
                            <p><a class="contact-text" title="Позвонить" href="tel:+375 25 00 00 100">+375(25)
                                    10-10-100</a></p>
                        </li>
                        <li></li>
                    </ul>
                </div>

            </div>

            <div class="col33">
                <div class="sprites">
                    <a class="instagram" href="http://instagram.com"></a>
                    <a class="twitter" href="https://twitter.com"></a>
                    <a class="vk" href="https://vk.com"></a>
                    <a class="youtube" href="https://youtube.com"></a>
                </div>
            </div>

        </div>
    </div>
</footer>