<header>

    <div class="header-min animated">

        <div class="container">
            <div class="logo-min">
                <h1>
                    <a href="/">J-servise</a>
                </h1>
                <span>автосервис</span>
            </div>
            <div class="contacts">
                <ul>
                    <li class="a1">
                        <a class="contact-text" title="Позвонить" href="tel:+375 44 00 00 100">+375(44) 10-10-100</a>
                    </li>
                    <li class="mts">
                        <a class="contact-text" title="Позвонить" href="tel:+375 29 00 00 100">+375(29) 10-10-100</a>
                    </li>
                </ul>
                <ul>
                    <li class="calendar-ico">Пн-Вс: 9.00-21.00</li>
                    <li class="location-ico">г. Минск, пл. Октябрьская 1</li>
                </ul>
            </div>

            <div class="logoImg"></div>

            <nav>
                <ul>
                    <li class="page"><a class="button" href="index.html">Главная</a></li>
                    <li class="page"><a class="button" href="service.html">Авторемонт</a></li>
                    <li class="page"><a class="button" href="parts.html">Автозапчасти</a></li>
                    <li class="page"><a class="button" href="contacts.html">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="header">
        <div class="container">
            <div class="logo" id="logo">
                <h1>
                    <a href="/">J-servise</a>
                </h1>
                <span>автосервис</span>
            </div>
            <div class="contacts">
                <ul>
                    <li class="calendar-ico">Пн-Вс: 9.00-21.00</li>
                    <li class="a1">
                        <a class="contact-text" title="Позвонить" href="tel:+375 44 00 00 100">+375(44) 10-10-100</a>
                    </li>
                    <li class="mts">
                        <a class="contact-text" title="Позвонить" href="tel:+375 29 00 00 100">+375(29) 10-10-100</a>
                    </li>
                    <li class="location-ico">г. Минск, пл. Октябрьская 1</li>
                </ul>
            </div>

            <div class="logoImg" id="logoImg"></div>

            <nav id="nav">
                <ul>
                    <li class="page"><a class="button" href="index.html">Главная</a></li>
                    <li class="page"><a class="button" href="service.html">Авторемонт</a></li>
                    <li class="page"><a class="button" href="parts.html">Автозапчасти</a></li>
                    <li class="page"><a class="button" href="contacts.html">Контакты</a></li>
                </ul>
            </nav>

</header>