<header>
    <div class="container">
        <div id="header">
            <div class="logo" id="top">
                <h1>
                    <a href="/">J-servise</a>
                </h1>
                <span>автосервис</span>
            </div>
            <div class="contacts">
                <ul>
                    <li>Пн-Вс: 9.00-21.00</li>
                    <li class="a1">
                        <a class="contact-text" title="Позвонить" href="tel:+375 44 00 00 100">+375(44) 10-10-100</a>
                    </li>
                    <li class="mts">
                        <a class="contact-text" title="Позвонить" href="tel:+375 44 00 00 100">+375(44) 10-10-100</a>
                    </li>
                    <li class="life">
                        <a class="contact-text" title="Позвонить" href="tel:+375 44 00 00 100">+375(44) 10-10-100</a>
                    </li>
                    <li>г. Минск, ул. Научная 5</li>
                </ul>
            </div>
            <nav id="nav">
                <ul>
                    <li class="current_page_item"><a href="index.html">Главная</a></li>
                    <li><a href="threecolumn.html">О нас</a></li>
                    <li><a href="twocolumn1.html">Two Column #1</a></li>
                    <li><a href="twocolumn2.html">Two Column #2</a></li>
                    <li><a href="onecolumn.html">One Column</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>