<div class="hamburger" id="hamburger-11">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>

<div class="header-mobile">
    <div id="nav-mobile">
        <ul>
            <li class="page"><a class="button" href="index.html">Главная</a></li>
            <li class="page"><a class="button" href="service.html">Авторемонт</a></li>
            <li class="page"><a class="button" href="parts.html">Автозапчасти</a></li>
            <li class="page"><a class="button" href="contacts.html">Контакты</a></li>
        </ul>
    </div>

</div>