    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2>СТО В ЦЕНТРЕ МИНСКА</h2>
            <p>ООО "J-SERVICE" предлагает широкий спектр услуг СТО в центре Минска на Октябрьской пл.
            </p>
            <a href="#" class="da-link">Подробнее...</a>
            <div class="da-img img-slide1"></div>
        </div>
        <div class="da-slide">
            <h2>ВСЕГО ЗА 10 РУБ.</h2>
            <p>Не пропусти акцию!!! Замена масла и фильтра всего за 10 рублей.
            </p>
            <a href="#" class="da-link">Подробнее...</a>
            <div class="da-img img-slide2"></div>
        </div>
        <div class="da-slide">
            <h2>ШИНОМОНТАЖ В САМОМ ЦЕНТРЕ МИНСКА</h2>
            <p>ООО "J-SERVICE" оказывает услуги шиномонтажа в Минске по европейским
                стандартам.</p>
            <a href="#" class="da-link">Подробнее...</a>
            <div class="da-img img-slide3"></div>
        </div>
        <div class="da-slide">
            <h2>КОМПЛЕКСНЫЙ РЕМОНТ
                ТОРМОЗНОЙ СИСТЕМЫ</h2>
            <p>За 3 часа и гарантией 12 месяцев!</p>
            <a href="#" class="da-link">Подробнее...</a>
            <div class="da-img img-slide4"></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>