$f-color-light: rgb(255, 255, 255);
$f-color-dark: #404040;


#header {
	padding: 0 0 1em 0;
}

.logoImg {
	visibility: hidden;
	float: right;
	height: 250px;
	width: 250px;
	background: center / contain no-repeat url(../img/logo.png);
	background-size: 100%;
}

.logo {
	visibility: hidden;
	display: inline-block;
	padding: 4em 0.25em 2em 0em;
	text-shadow: 1px 1px 0px #188FB9;
}

.logo h1 a {
	font-weight: 100;
	text-decoration: underline;
	text-transform: uppercase;
	color: $f-color-light;
	font-size: 2em;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo span {
	color: #cecaca;
	font-size: 1.5em;
	letter-spacing: .46em;
	font-family: 'Courier New', Courier, monospace;
}

.contacts {
	display: inline-block;
	padding: 0em 0em 2em 2em;
}

.contacts ul {
	list-style: none;
	color: $f-color-light;
}

.a1 {
	background: url(../img/call-A1.svg) no-repeat;
	background-size: contain;
}

.mts {
	background: url(../img/call-mts.gif) no-repeat;
	background-size: contain;
}

.life {
	background: url(../img/call-life.jpg) no-repeat;
	background-size: contain;
}

.contacts ul li {
	visibility: hidden;
	padding-left: 1.5em;
	margin-bottom: 0.7em;
	font-size: 1em;
	color: $f-color-dark;
}

.contacts ul li,
.contacts ul li a {
	color: $f-color-light;
}

.contacts ul li a:hover {
	text-shadow: 0 0 29px rgba(254, 206, 26, 0.8);
}

#nav ul {
	list-style: none;
}

#nav li {
	display: inline-block;
	visibility: hidden;
}

#nav li a:hover {
	box-shadow: 0 0 29px rgba(254, 206, 26, 0.8);
	color: rgba(254, 206, 26, 0.8);
}

.logo a:hover {
	text-shadow: 0 0 29px rgba(254, 206, 26, 0.8);
}

#nav a {
	margin-right: 0.12em;
	padding: 1em 1.5em;
	background: #178EAE;
	box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.25);
	text-shadow: 1px 1px 0px #0C749C;
	text-transform: uppercase;
	font-size: .8em;
	color: $f-color-light;
}

.visible {
	visibility: visible !important;
}

.da-slider {
	visibility: hidden;
}