$f-color-light: #ffffff;
$f-color-dark: #404040;

#header {
	padding: 0 0 1em 0;
}

.logoImg {
	margin: 1.5em 0;
	float: right;
	height: 250px;
	width: 250px;
	background: center / contain no-repeat url(../img/logo.png);
}

.logo {
	display: inline-block;
	padding: 4em 0.25em 2em 0em;
	text-shadow: 1px 1px 0px #188FB9;
}

.logo h1 a {
	font-weight: 100;
	text-decoration: underline;
	text-transform: uppercase;
	color: $f-color-light;
	font-size: 2em;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

	&:hover {
		text-shadow: 0 0 29px rgba(254, 206, 26, 0.8);

	}
}

.logo span {
	color: #cecaca;
	font-size: 1.5em;
	letter-spacing: .46em;
	font-family: 'Courier New', Courier, monospace;
}

.location-ico {
	background: left / contain no-repeat url(../img/location-ic1.png);
}

.calendar-ico {
	background: left / contain no-repeat url(../img/calendar.png);
}

.contacts {
	display: inline-block;
	padding: 0em 0em 2em 2em;
}

.contacts ul {
	list-style: none;
	color: $f-color-light;
}

.a1 {
	background: url(../img/call-A1.png) no-repeat;
	background-size: contain;
}

.mts {
	background: url(../img/call-mts.png) no-repeat;
	background-size: contain;
}

.life {
	background: url(../img/call-life.png) no-repeat;
	background-size: contain;
}

.contacts ul li {
	padding-left: 1.5em;
	margin-bottom: 0.7em;
	font-size: 1em;
	color: $f-color-dark;
}

.contacts ul li,
.contacts ul li a {
	color: $f-color-light;

	&:hover {
		text-shadow: 0 0 29px rgba(254, 206, 26, 0.8);

	}
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
}

nav li a:hover {
	box-shadow: 0 0 29px rgba(254, 206, 26, 0.8);
	color: rgba(254, 206, 26, 0.8);
}

nav a {
	margin-right: 0.12em;
	padding: 1em 1.5em;
	background: #178EAE;
	box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.25);
	text-shadow: 1px 1px 0px #0C749C;
	text-transform: uppercase;
	font-size: .8em;
	color: $f-color-light;
}

.visible {
	visibility: visible !important;
}

.none {
	display: none;
}

.da-slider {
	visibility: hidden;
}

.logo-min {
	display: inline-block;
	padding: 0em 0.25em 0em 0em;
	text-shadow: 1px 1px 0px #188FB9;
}

.logo-min h1 a {
	font-weight: 100;
	text-decoration: underline;
	text-transform: uppercase;
	color: $f-color-light;
	font-size: 1em;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

	&:hover {
		text-shadow: 0 0 29px rgba(254, 206, 26, 0.8);

	}
}

.logo-min span {
	color: #cecaca;
	font-size: .75em;
	letter-spacing: .46em;
	font-family: 'Courier New', Courier, monospace;
}

.header-min {
	display: none;
	background: rgba(42, 48, 60, .8);
	;
	z-index: 10;
	position: fixed;
	right: 0;
	left: 0;

	.logoImg {
		margin: .5em 0;
		height: 110px;
		float: right;
		background: center/contain no-repeat url(../img/logo.png);
	}
}

.header-min .contacts {
	padding: 0em 0em 1em 2em;
}

.header-min .contacts ul li {
	padding-left: 1.5em;
	margin-bottom: 0.3em;
	font-size: .75em;
}

.header-min .contacts ul {
	display: inline-block;

	&:nth-of-type(2) {
		margin-left: 1em;
	}
}

.header-min nav a {
	margin-right: 0.12em;
	padding: .75em 1.5em;
	background: #178EAE;
	box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.25);
	text-shadow: 1px 1px 0px #0C749C;
	text-transform: uppercase;
	font-size: .8em;
	color: $f-color-light;
}

.header-mobile {
	background: #2a303c;
	transform: translateX(-100%);
	transition: transform 500ms ease-in-out;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	z-index: 15;
}

.header-mobile-slide {
	transform: translateX(0);
}

#hamburger-11 {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 20;
}