.item1 {
    height: 500px;
    min-width: 960px;
    background: url(../img/owl2-audi-rs6.jpg) 0% 50% no-repeat;
    background-size: cover;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    outline: none;
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    font-size: 15em;
    /* position: absolute; */
}

.owl-theme .owl-nav [class*=owl-] {
    /* color: #fff; */
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    /* background: #d6d6d6; */
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-theme .owl-nav {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: -60px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: rgba($color: #000000, $alpha: 0.0);
    color: #fff;
    text-decoration: none;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: rgba($color: #000000, $alpha: 0.0);
    color: #fff;
    text-decoration: none;
}

.owl-next {
    position: absolute;
    right: 10px;
}

.owl-prev {
    position: absolute;
    left: 10px;
}